<h1>votre panier</h1>

<% @command.each do |c| %>
	<div class="form-group">
		<p><%= Post.find(c.post_id).title %></p>
		<p><%= c.nbre_items %></p>
		<p><%= link_to "effacer", c, method: :delete %></p>
	</div>
<% end %>

<p>montant: $<%= @price %></p>

<%= link_to "acheter", charge_path(@price), data: {confirm: "voulez vous faire cette achat"} %>