<h1>editer le profil</h1>

<% if flash[:error] || flash[:notice] %>
  	<script type="text/javascript">alert("<%= flash[:error] %><%= flash[:notice] %>")</script>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label "Nom: " %>
	<%= f.text_field :firstname %><br>

	<%= f.label "Prenom: ", :lastname %>
	<%= f.text_field :lastname %><br>
	
	<%= f.label "Email: " %>
	<%= f.text_field :email %><br>
	
	<%= f.label "Mot de Passe: " %>
	<%= f.password_field :password %><br>
	
	<%= f.submit "editer" %>

<% end %>