<h1>bienvenue sure notre site</h1>

<% if flash[:error] || flash[:notice] %>
  	<script type="text/javascript">alert("<%= flash[:error] %><%= flash[:notice] %>")</script>
<% end %>

<% @category.each do |categories| %>
	<h2><%= categories.title %></h2>
	<div class="cat">
	<% @posts.each do |post| %>
		<div class="catmin">
		<% if post.category_id == categories.id %>
			<% if post.img.attached? %>
				<%= image_tag post.img.variant(resize: "180x120") %>
			<% else %>
				<img src="int.jpg" style="width: 180px; height: 120px">
			<% end %>
			<h3><%= post.title %></h3>
			<p>description: <%= post.description %></p>
			<p>nombre: <%= post.nombre %></p>
			<p>prix par article: <%= post.price %> eur</p>
			<% if signed_in %>
				<form action="<%= paniers_path %>" method="post">
					<input type="hidden" name="authenticity_token" value="form_authenticity_token">
					<input type="hidden" name="user_id" value="<%= current_user.id %>">
					<input type="hidden" name="posts_id" value="<%= post.id %>">
					<input type="number" class="doc<%= post.id %>"  min="0" max="<%= post.nombre %>" name="nbre" style="width: 60px" />
					<button type="submit" class="but<%= post.id %>"> ajouter au panier</button>
				</form>
			<% end %>
			<% if root %>
				<%= link_to "editer", edit_post_path(post.id) %>
				<%= link_to "effacer", post, method: :delete, data: {confirm: "voullez vous vraiment effacer?"} %>
			<% end %>
		<% end %>
		</div>
	<% end %>
</div><br><br>
<% end %>


<% if root %>
	<%= link_to "nouvelle article", new_post_path %>			
<% end %>