<!DOCTYPE html>
<html>
  <head>
    <title>ProjetFinal1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="jquery.js"></script>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/head" %>
      <%= yield %>
    </div>

  </body>
</html>
